.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--spacing-xlg);
  padding: 5rem 0 10rem 0;
}
.message {
  font-size: 2rem;
  letter-spacing: 0.18rem;
}
.emptyText {
  text-transform: capitalize;
  color: var(--color-accent-dark);
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-md);
  background: var(--color-accent-dark);
  transition:
    box-shadow 0.2s ease-out,
    color 0.2s ease-out,
    background-color 0.2s ease-out,
    filter 0.2s ease-out;
  border-radius: var(--border-radius);
  &:hover {
    cursor: pointer;
    box-shadow: var(--shadow);
    color: var(--color-accent-dark);
    background-color: var(--color-darkest);
  }
}
.emptyAnimation {
  width: 300px;
  background-color: var(--color-bg);
}

@media only screen and (max-width: 900px) {
  .main {
    padding: 5rem var(--spacing-md) 10rem var(--spacing-md);
  }
  .messageText {
    text-align: center;
  }
}
@media only screen and (max-width: 550px) {
  .main {
    padding: 5rem var(--spacing-md) 10rem var(--spacing-md);
  }
  .messageText {
    font-size: 0.9rem;
  }
  .message {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 450px) {
  .main {
    padding: 5rem var(--spacing-md) 10rem var(--spacing-md);
  }
  .messageText {
    font-size: 0.8rem;
  }
  .message {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 400px) {
  .main {
    padding: 2rem var(--spacing-md) 10rem var(--spacing-md);
  }
  .messageText {
    font-size: 0.7rem;
  }
  .message {
    font-size: 1.2rem;
  }
  .btn {
    font-size: 0.8rem;
    padding: var(--spacing-sm);
  }
  .emptyAnimation {
    width: 200px;
  }
}
