.main {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem;
}
.contentBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: var(--spacing-xlg);
}
.infoBox {
  display: flex;
  gap: var(--spacing-md);
}
.title {
  text-transform: capitalize;
  color: var(--color-text-secondary);
}
.backBtn {
  width: fit-content;
  background-color: transparent;
  color: var(--color-text);
  margin-right: auto;
  transition: color 0.2s ease-in-out;
  &:hover {
    box-shadow: none;
    color: var(--color-text-secondary);
    background-color: transparent;
  }
}

@media only screen and (max-width: 960px) {
  .title {
    font-size: 0.9rem;
  }
  .info {
    font-size: 0.9rem;
  }
  .backBtn {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 500px) {
  .main {
    padding: 3rem var(--spacing-md);
  }
  .title {
    font-size: 0.8rem;
  }
  .info {
    font-size: 0.8rem;
  }
  .backBtn {
    font-size: 0.8rem;
  }
  .contentBox {
    gap: var(--spacing-lg);
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 400px) {
  .title {
    font-size: 0.7rem;
  }
  .info {
    font-size: 0.7rem;
  }
  .backBtn {
    font-size: 0.7rem;
  }
  .contentBox {
    gap: var(--spacing-md);
  }
}
