.header {
  width: 100%;
  height: 80px;
  background-color: rgb(246, 241, 238, 0.8);
  display: flex;
  justify-content: center;
  justify-content: space-between;
  position: fixed;
  padding: var(--spacing-sm) var(--spacing-md);
  /* border-bottom-left-radius: 100%; */
  /* border-bottom-right-radius: 100%; */
}
.logo {
  width: 50px;
}
.linksList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xlg);
}

.btnBox {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}
.btns {
  background-color: transparent;
  padding: var(--spacing-sm);
  transition: background-color 0.1s ease;
  &:hover {
    background-color: var(--color-accent);
  }
}
.btnImage {
  width: 20px;
}
