.btnBox {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}
.btns {
  border: 1px solid var(--color-border);
  background-color: transparent;
  padding: var(--spacing-sm);
  &:hover .btnImage {
    filter: brightness(0) saturate(100%) invert(73%) sepia(48%) saturate(452%)
      hue-rotate(356deg) brightness(87%) contrast(89%);
  }
}
.btnImage {
  width: 20px;
  filter: brightness(0) saturate(100%) invert(5%) sepia(19%) saturate(925%)
    hue-rotate(333deg) brightness(94%) contrast(99%);
  transition: filter 0.2s ease-out;
}

@media only screen and (max-width: 800px) {
  .btnBox {
    gap: var(--spacing-sm);
  }
}
@media only screen and (max-width: 680px) {
  .btnBox {
    display: none;
  }
}
