.header {
  width: 100%;
  height: 80px;
  background-color: var(--color-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-sm) var(--spacing-md);
}
.logo {
  width: 50px;
}

@media only screen and (max-width: 800px) {
  .logo {
    width: 35px;
  }
  .btnBox {
    gap: var(--spacing-sm);
  }
}
@media only screen and (max-width: 680px) {
}
@media only screen and (max-width: 540px) {
}
