.home {
  width: 90dvw;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
.main {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  z-index: -2;
  background-image: url("../../assets/BackGround.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
.section {
  height: 80dvh;
  margin: 10dvh 0;
  scroll-snap-align: center;
  flex-shrink: 0;
  scroll-snap-stop: always;
}
