.main {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  z-index: -2;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
.home {
  width: 100dvw;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
.section {
  height: 100dvh;
  scroll-snap-align: center;
  flex-shrink: 0;
  scroll-snap-stop: always;
}
