.main {
  width: 100%;
  height: 100dvh;
  display: flex;
}
.imageSide {
  width: 50%;
  height: 100%;
  padding: var(--spacing-md);
  border-right: 1px solid var(--color-border);
}
.mainImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.productInfoSide {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: var(--spacing-xlg);
  padding: var(--spacing-lg);
}
.productCategory {
  font-size: 0.8rem;
  letter-spacing: 0.16rem;
  text-transform: uppercase;
  color: var(--color-text-secondary);
}
.productType {
  color: var(--color-accent-darkest);
}
.productDescription {
  max-width: 700px;
  line-height: 1.7;
}
.productPrice {
  font-size: 1.2rem;
  font-weight: 600;
}
.productPriceOnTop {
  font-size: 0.9rem;
  font-weight: 600;
}
.addToCartBtnImage {
  width: 20px;
  filter: brightness(0) saturate(100%) invert(5%) sepia(19%) saturate(925%)
    hue-rotate(333deg) brightness(94%) contrast(99%);
  transition: filter 0.2s ease-out;
}
.addToCartBtn {
  height: 48px;
  gap: var(--spacing-sm);
  &:hover .addToCartBtnImage {
    filter: brightness(0) saturate(100%) invert(73%) sepia(48%) saturate(452%)
      hue-rotate(356deg) brightness(87%) contrast(89%);
  }
}
.backBtn {
  width: fit-content;
  background-color: transparent;
  margin-bottom: 4rem;
  color: var(--color-text);
  margin-right: auto;
  transition: color 0.2s ease-in-out;
  position: absolute;
  top: 10px;
  left: 10px;
  &:hover {
    box-shadow: none;
    color: var(--color-text-secondary);
    background-color: transparent;
  }
}
@media only screen and (max-width: 1000px) {
  .main {
    flex-direction: column;
    min-height: auto;
  }
  .imageSide {
    width: 100%;
    height: auto;
  }
  .productInfoSide {
    width: 100%;
    height: auto;
    padding: var(--spacing-md) var(--spacing-lg);
  }
}
@media only screen and (max-width: 600px) {
  .main {
    padding-top: var(--spacing-md);
  }
  .imageSide {
    margin-bottom: var(--spacing-md);
  }
  .productInfoSide {
    padding: var(--spacing-md);
  }
  .productName {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 500px) {
  .productInfoSide {
    gap: var(--spacing-md);
  }
  .productCategory {
    font-size: 0.8rem;
  }
  .productDescription {
    font-size: 0.9rem;
  }
  .productPriceOnTop {
    font-size: 0.8rem;
  }
  .productPrice {
    font-size: 0.9rem;
  }
  .productName {
    font-size: 1.6rem;
  }
  .productType {
    font-size: 0.7rem;
  }
  .backBtn {
    font-size: 0.9rem;
  }
  .addToCartBtn {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 400px) {
  .productDescription {
    font-size: 0.7rem;
  }
  .productPrice {
    font-size: 0.9rem;
  }
  .productPriceOnTop {
    font-size: 0.7rem;
  }
  .productPrice {
    font-size: 0.8rem;
  }
}
