.main {
  width: 60%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-lg) var(--spacing-md);
  overflow-y: auto;
}

.documentLinks {
  height: calc(100dvh - 80px);
  display: flex;
  flex-direction: column;
  padding: var(--spacing-lg);
  gap: var(--spacing-lg);
}
.links {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-lg);
}
.arrowImage {
  width: 6px;
}
.header {
  font-size: 3rem;
  margin-bottom: var(--spacing-xlg);
}
.h2 {
  font-size: 2rem;
  margin-bottom: var(--spacing-lg);
}
.h3 {
  font-size: 1.5rem;
  letter-spacing: 0;
  margin-bottom: var(--spacing-lg);
}
.h4 {
  font-size: 1.2rem;
  letter-spacing: 0;
  margin-bottom: var(--spacing-md);
}
.unorderedList,
.orderedList {
  display: flex;
  flex-direction: column;
  padding-left: var(--spacing-lg);
  gap: var(--spacing-sm);
}
.unorderedList {
  list-style-type: disc;
}
.emText {
  background-color: var(--color-accent-light);
  padding: var(--spacing-sm) var(--spacing-md);
  border-left: 2px solid var(--color-darkest);
}
.contactAera {
  width: fit-content;
  display: flex;
  gap: var(--spacing-sm);
  color: var(--color-bg);
  padding: var(--spacing-sm);
  border-radius: var(--border-radius);
  background-color: var(--color-darkest);
}
.contactEmail {
  color: var(--color-bg);
  text-transform: none;
}
.backBtn {
  width: fit-content;
  background-color: transparent;
  margin-bottom: 4rem;
  color: var(--color-text);
  margin-right: auto;
  transition: color 0.2s ease-in-out;
  &:hover {
    box-shadow: none;
    color: var(--color-text-secondary);
  }
}
