.main {
  width: 100%;
  height: 8dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--color-border);
}
.selectorsForm {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-md);
}
