@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
:root {
  /* ==========
      Coloring
     ========== */
  /* Backgrounds */
  --color-bg: #f6f1ee;
  --color-surface: #ffffff;
  --color-surface-secondary: #eae5e2;
  /* Text */
  --color-text: #312422;
  --color-text-secondary: #766255;
  --color-text-muted: #9f9288;
  /* Borders */
  --color-border: #d6cfca;
  /* Accent */
  --color-accent: #e8d0a7;
  --color-accent-light: #f0d8ac;
  --color-accent-dark: #d4a759;
  /* Dark */
  --color-dark: #312422;
  --color-darkest: #140d0a;
  /* Furniture */
  --color-brown: #65412f;
  --color-brown-muted: #766255;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(49, 36, 34, 0.8) 0 0px 10px -1px;
  /* ==========
      Font prop
     ========== */
  --font: "DM Sans", sans-serif;
  --h1-text-size: 3.5rem;
  --h1-text-weight: 700;
  --h2-text-size: 3rem;
  --h2-text-weight: 600;
  --h3-text-size: 2.5rem;
  --h3-text-weight: 500;
  --p-text-size: 1rem;
  --p-text-weight: 400;
  --headers-letter-spacing: 2px;
  --text-letter-spacing: 1px;
  /* ===========
      Spacing 
     ===========*/
  --spacing-xsm: 0.2rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xlg: 3rem;

  font: 18px/145% var(--font);
  color: var(--color-text);
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
}
body {
  color: var(--text-color);
  background-color: var(--color-bg);
}
#root {
  display: flex;
  flex-direction: column;
}
p {
  font-size: clamp(1rem, 2vw, var(--p-text-size));
  font-weight: var(--p-text-weight);
  letter-spacing: var(--text-letter-spacing);
}
h1,
h2,
h3 {
  font-family: var(--heading-font-family);
  letter-spacing: var(--headers-letter-spacing);
  text-transform: capitalize;
}
h1 {
  font-size: clamp(2.5rem, 5vw, var(--h1-text-size));
  font-weight: var(--h1-text-weight);
}
h2 {
  font-size: clamp(2rem, 5vw, var(--h2-text-size));
  font-weight: var(--h2-text-weight);
}
h3 {
  font-size: clamp(1.5rem, 5vw, var(--h3-text-size));
  font-weight: var(--h3-text-weight);
}
button {
  background-color: var(--color-darkest);
  border: none;
  font-family: var(--font);
  font-size: var(--p-text-size);
  color: var(--color-text-muted);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.2s ease-in-out;
  &:hover {
    cursor: pointer;
    box-shadow: var(--shadow);
  }
}
