.main {
  width: 60%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-lg) 0;
  overflow-y: auto;
}

.header {
  font-size: 3rem;
  margin-bottom: var(--spacing-xlg);
}
.quote {
  background-color: var(--color-accent-light);
  border-radius: var(--border-radius);
  padding: var(--spacing-md);
  &::after {
    content: "";
    width: 5px;
    height: 10px;
    background-color: var(--color-darkest);
  }
}
.backBtn {
  width: fit-content;
  background-color: transparent;
  margin-bottom: 4rem;
  color: var(--color-text);
  margin-right: auto;
  transition: color 0.2s ease-in-out;
  &:hover {
    box-shadow: none;
    color: var(--color-text-secondary);
  }
}
@media only screen and (max-width: 1000px) {
  .main {
    width: 100%;
  }
}
@media only screen and (max-width: 750px) {
  .main {
    padding: var(--spacing-lg) var(--spacing-lg);
  }
  .header {
    font-size: 2.5rem;
  }
  .quote {
    font-size: 0.9rem;
  }
  .text {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 650px) {
  .main {
    padding: var(--spacing-lg) var(--spacing-md);
  }
  .header {
    font-size: 2rem;
    margin-bottom: var(--spacing-lg);
  }
  .backBtn {
    margin-bottom: var(--spacing-xlg);
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 500px) {
  .main {
    padding: var(--spacing-lg) var(--spacing-sm);
  }
  .header {
    font-size: 1.5rem;
  }
  .quote {
    line-height: 1.8;
  }
  .text {
    line-height: 1.8;
  }
}
@media only screen and (max-width: 430px) {
  .header {
    font-size: 1.2rem;
  }
  .quote {
    font-size: 0.7rem;
  }
  .text {
    font-size: 0.7rem;
  }
}
