.main {
  width: 60%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-lg) var(--spacing-xlg);
  gap: var(--spacing-lg);
  overflow-y: auto;
}

.questionBox {
  background-color: var(--color-surface-secondary);
  border: var(--border-radius);
  display: flex;
  flex-direction: column;
  &:hover {
    cursor: pointer;
  }
  &[open] {
    border-left: 3px solid var(--color-darkest);
  }
}
.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-md);
  font-size: 1.2rem;
  font-weight: 600;
  &::after {
    content: "";
    border: solid var(--color-darkest);
    border-width: 0px 3px 3px 0;
    display: inline-block;
    padding: 4px;
    transition: 0.2s;
    transform: rotate(45deg);
  }
  &::-webkit-details-marker {
    display: none;
  }
}
.questionBox[open] > .question::after {
  transform: rotate(-135deg);
}
.text {
  padding: var(--spacing-sm) var(--spacing-md) var(--spacing-lg)
    var(--spacing-lg);
}
.backBtn {
  width: fit-content;
  background-color: transparent;
  color: var(--color-text);
  transition: color 0.2s ease-in-out;
  &:hover {
    box-shadow: none;
    color: var(--color-text-secondary);
  }
}
